{% extends 'base.html' %}

{% block content %}
<h1> <div  style="margin-left:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> {{ post.title }} </div> </h1>


{% if post.photo %}
	<p><img class="img-article-left thumb" src="{{post.photo}}" style="margin-left:25px; width:50%;"></p>
{% endif %}
<div style="margin-left:25px;margin-right:25px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{post.content|linebreaks}}</div>
{% if request.user.username == post.author.username %}
<h5> <div  style="margin-left:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Author of the post: <a href="{% url 'current_user_profile' %}">You</a> </div> </h5>
{% else %}
<h5> <div  style="margin-left:25px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Author of the post: <a href="{% url 'get_user_profile' post.author.id %}"> {{ post.author }}</a> </div> </h5>

{% endif %}
{% endblock %}