{% extends 'blog/base.html' %}

{% block content %}
<div style="margin-right:400px; margin-left:200px; margin-top: 20px; margin-bottom: 120px;">
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Your profile</h4>
    <div class="input-group mb-3"><h5>We sure, that you are a talented person, {{request.user.username}}, write about yourself</h5></div>
    {% if user.photo %}
    <h5>Your current photo:</h5>
    <p><img class="card-img-top" alt="Thumbnail [100%x225]" style="width:50%" src="{{ user.photo.url }}" data-holder-rendered="true"></p>
    {% endif %}
    {% if user.biography %}
    <p><div class="input-group mb-3"><h5>Your current bio: <p>{{ user.biography }}</p></h5></div></p>
    {% endif %}
    {{ profile_form.as_p }}
    <p><button type="submit" class="btn btn-primary">Submit</button></p>
    
    
<!--    <div class="input-group mb-3">-->
<!--        <label class="input-group-text" for="inputGroupFile01">Upload</label>-->
<!--        <input type="file" class="form-control" id="inputGroupFile01" name="photo">-->
<!--        <span class="input-group-text" id="basic-addon1">bio</span>-->
<!--        <input type="text"  name="biography" class="form-control" placeholder="biography"  aria-label="biography" aria-describedby="basic-addon1">-->
<!--      </div>  -->
<!--    <button type="submit" style="margin-bottom:100px;" class="btn btn-primary">Submit</button>-->
</form>
</div>
{% endblock %}
