{% extends 'blog/base.html' %}

{% block content %}
<div style="margin-right:400px; margin-left:300px; margin-top: 20px; margin-bottom: 120px;">
<form method="post" action="">
    {% csrf_token %}
    <h4>Your profile</h4>
    <div class="input-group mb-3"><h5>We sure, that you are a talented person, {{request.user.username}}, write about yourself</h5></div>
    <div class="input-group mb-3"><h5>Your current bio: {{ user.biography }}</h5></div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">bio</span>
        <input type="text"  name="biography" class="form-control" placeholder="biography"  aria-label="biography" aria-describedby="basic-addon1">
      </div>  
    <button type="submit" style="margin-bottom:100px;" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}