{% extends 'blog/base.html' %}

{% block content %}
<h1> <center>{{ post.title }}</center>   </h1>


{% if post.photo %}
	<img src="{{post.photo}}" class="card-img-top" alt="...">
{% endif %}
<div >{{post.content|linebreaks}}</div>
{% if request.user.username == post.author.username %}
<h5> <div> Author of the post: <a href="{% url 'current_user_profile' %}">You</a> </div> </h5>
{% else %}
<h5> <div> Author of the post: <a href="{% url 'get_user_profile' post.author.id %}"> {{ post.author }}</a> </div> </h5>
{% endif %}
<center><h5>Discuss this post!</h5></center>
{% for comment in comments %}
<div class="shadow p-3 mb-5 bg-body rounded">
<div class="card" style="margin-bottom: 10px;">
	<div class="card-body">
		{% if request.user.username == comment.user.username %}
		<h5> <div > <a href="{% url 'current_user_profile' %}">You</a> </div> </h5>
		{% else %}
		<h5> <div> <a href="{% url 'get_user_profile' comment.user.id %}"> {{ comment.user.profile }}</a> </div> </h5>
		{% endif %}
		<p class="card-text"> {{ comment.content }} </p>
		<p><h6> {{ comment.time_created }} </h6></p>
	</div>
  </div>
</div>
{% endfor %}

{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'add_comment' post.slug %}">
	{% csrf_token %}
	<div class="input-group mb-3">
		<h5><label for="exampleFormControlTextarea1"  class="form-label">Leave your comment below: </label></h5>
		<textarea class="form-control" id="exampleFormControlTextarea1" name="content"rows="3"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Send comment</button>
  </form>
  
{% endif %}

{% endblock %}